@import 'tailwindcss';

@theme {
    --color-main-bg: #ffffff;
    --color-background-secondary: #f7fafe;

    --color-background-levelbg: #e0e1e1;

    --color-border-main: #000000;
    --color-border-secondary: #eceded;

    --color-text-main: #000000;
}