@import 'tailwindcss';

@theme {
    --color-main-bg: #ffffff;
    --color-secondary-bg: #f7fafe;

    --color-background-levelbg: #e0e1e1;

    --color-border-main: #000000;
    --color-border-secondary: #eceded;

    --color-text-main: #000000;
    --color-text-secondary: #ffffff;

    --color-button-main-bg: #5a04df;

    --color-input-main-bg: #fdfdfd;
}